<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/baseStyle.css" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/contacts.css" />
  </head>
  <body>
    <div class="contacts">
      <div class="contacts__information">
        <p class="contact-number">+977 9800000000</p>
        <p class="contact-email">customer.care@goldgym.in</p>
      </div>
      <div>
        <p>Welcome to Gold's gym.India</p>
      </div>
      <div class="contacts__social">
        <div class="social-frame">
          <a href="">
            <img
              class="contact-icon"
              src="/assets/icons/facebook.1.svg"
              alt="fb-icon"
            />
          </a>
        </div>
        
        <a href=""><img class="contact-icon" src="" alt="" /></a>
        <a href=""><img class="contact-icon" src="" alt="" /></a>
        <a href=""><img class="contact-icon" src="" alt="" /></a>
        <a href=""><img class="contact-icon" src="" alt="" /></a>
      </div>
    </div>
  </body>
</html>
