<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/baseStyle.css" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/contacts.css" />
  </head>
  <body>
    <section class="contact-bar">
      <div class="contacts">
        <div class="contacts__information">
          <span class="contact-number"
            >+977 9800000000 | customer.care@goldgym.in |</span
          >
        </div>
        <span>Welcome to Gold's gym.India</span>
        <div class="contacts__social">
          <div class="social-frame">
            <a href="">
              <img
                class="contact-icon"
                src="/assets/icons/facebook.1.svg"
                alt="fb-icon"
              />
            </a>
          </div>
          <div class="social-frame">
            <a href="">
              <img
                class="contact-icon"
                src="/assets/icons/instagram.svg"
                alt="insta-icon"
              />
            </a>
          </div>

          <div class="social-frame">
            <a href="">
              <img
                id="linkedin-icon"
                class="contact-icon"
                src="/assets/icons/linkedin.svg"
                alt="linkedin-icon"
              />
            </a>
          </div>
          <div class="social-frame">
            <a href="">
              <img
                class="contact-icon"
                src="/assets/icons/twitter.svg"
                alt="twitter-icon"
              />
            </a>
          </div>
          <div class="social-frame">
            <a href="">
              <img
                class="contact-icon"
                src="/assets/icons/youtube.svg"
                alt="yt-icon"
              />
            </a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
