:root {
  --font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.body {
  font-family: var(--font-family);
  margin-left: 6.25rem;
  margin-right: 6.25rem;
  scrollbar-width: none; /* Firefox */
}

/* Tablet Screen */
@media (min-width: 768px) and (max-width: 1024px) {
  .body {
    margin-left: 3.125rem;
    margin-right: 3.125rem;
  }
}

/* Mobile Screen */
@media (max-width: 768px) {
  .body {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
