:root {
  /* Colors */
  --color-primary: #ffe400;
  --color-secondary: #000;
  --color-text: #333;
  --color-background: #fff;

  /* Typography */
  --font-base: "Montserrat", sans-serif;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 2rem;
  --line-height: 1.5;

  /* Spacing */
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;

  /* Border Radius & Shadows */
  --radius-sm: 1.125rem;
  --radius-md: 1.5rem;
  --radius-lg: 1.875rem;

  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

body {
  font-family: var(--font-base);
  font-size: var(--font-size-md);
  line-height: var(--line-height);
  background-color: var(--color-background);
  color: var(--color-text);
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: var(--space-md);
}

h1 {
  font-size: var(--font-size-xl);
}
h2 {
  font-size: var(--font-size-lg);
}
h3 {
  font-size: var(--font-size-md);
}

p {
  margin-bottom: var(--space-md);
}

/* a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.2s;
}

a:hover {
  color: var(--color-accent);
} */

.button {
  /* font-family: inherit;
  font-size: inherit; */
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--radius-md);
  border: none;
  cursor: pointer;
  background-color: var(--color-primary);
  color: black;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: var(--color-secondary);
  color: white;
}
/* .button > span {
  margin-bottom: 0;
} */
/* Layout */
.flex {
  display: flex;
  align-items: center;
}
.grid {
  display: grid;
  gap: var(--space-md);
}

/* Tablet Screen */
@media (min-width: 768px) and (max-width: 1024px) {
  /* :root {
    --font-size-md: 0.9rem;
    --font-size-lg: 1.1rem;
    --font-size-xl: 1.5rem;
  } */

  .body {
    margin-left: 3.125rem;
    margin-right: 3.125rem;
  }
}

/* Mobile Screen */
@media (max-width: 768px) {
  .body {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
