/* Applied separate contact-bar section to apply margin */
.contact-bar {
  background-color: var(--color-secondary);
  color: white;
  padding-top: var(--space-md);
  padding-bottom: var(--space-md);
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Center the content */
  width: 90%;
  margin: 0 auto;
}

.contacts__information {
  display: flex;
  align-items: center;
}

.contact-icon {
  width: 1.5rem;
}

/* LinkedIn Icon */
#linkedin-icon {
  width: 1.3rem;
}

.contacts__social {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.social-frame {
  width: 2rem;
  height: 2rem;
  background-color: var(--color-background);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3125rem;
}
.social-frame > a {
  height: 1.5rem;
}
