.legacy > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--space-xl);
}

.legacy__content {
  display: flex;
  align-items: center;
  gap: var(--space-lg);
  /* Center the content- auto margin + responsiveness */
  width: 90%;
  margin: 0 auto;
}

/* To create 50% area for each child of legacy__content */
.legacy__video,
.legacy__info {
  flex: 1 1 50%;
}

.legacy__video > iframe {
  width: 100%;
  height: 20.625rem;
}

.legacy__info {
  width: 100%;
  text-align: justify;
}

.carousel {
  position: relative;
  width: 100vw;
  overflow: hidden;
  margin-bottom: 1.875rem;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
}

.slide picture,
.slide img {
  width: 100%;
  height: auto;
}

/* Navigation buttons */
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 1.125rem;
  cursor: pointer;
  border-radius: 50%;
}

.prev {
  left: 10px;
}
.next {
  right: 10px;
}

.home {
  width: 100%;
}
.home__secondary {
  background-image: url("/assets/images/landingPage/banner.jpg");
  min-height: 28rem;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.parallax {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.parallax::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/landingPage/parallax/golds-gym.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  z-index: -1; /* sits behind text */
}

.parallax h1 {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
}

/* Mobile screens */
@media (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .carousel {
    margin-inline: 0;
    width: 100vw;
  }

  .slide {
    min-width: 100vw;
  }

  .slide picture,
  .slide img {
    width: 100vw;
    height: auto;
  }

  .prev,
  .next {
    padding: 0.875rem;
  }

  .prev {
    left: 0.625rem;
  }
  .next {
    right: 0.625rem;
  }
}
